.chord-container {
  color: black;
  height: calc(100vh - 140px);
}

.scoreboard .panel-body {
  font-size: 5em;
  text-align: center;
}

.timer .panel-body {
  font-size: 4em;
  text-align: center;
}

.volume-meter {
  height: 100px;
}

.volume-meter .outer {
  background: linear-gradient(red, yellow, green);
  width: 7%;
  height: 100%;
  border: 1px solid black;
}

.volume-meter .inner {
  background: white;
  width: 100%;
  height: 100%;
}

.chromagram div {
  background: linear-gradient(red, yellow, green);
  font-size: 10px;
  float: left;
  width: 7%;
  height: 100px;
  color: white;
  /* border: 1px solid red; */
  position: relative;
  margin-right: 1px;
  /*  */

}

.chromagram div span {
  width: 100%;
  position:absolute;
  bottom: 0;
  text-align: center;
/*  left:50%;
  margin-left:-50%;
*/}